.sombra-caja {
  box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.5);
}
.Oswald {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333333;
  background-color: #333333;
  font-size: 18px;
  line-height: 28px;
  color: #FFF;
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}
.intro {
  width: 90%;
  height: 640px;
  margin: 0 auto;
  border: 10px solid #8841da;
  position: relative;
  box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.5);
}
.intro__imagen {
  width: 100%;
  position: absolute;
}
.intro__imagen img {
  width: 100%;
  height: 624px;
  object-fit: cover;
  overflow: hidden;
}
.intro__contenido {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
  text-align: center;
  color: #FFF;
}
.intro__categoria {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}
.intro__titulo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 60px;
  color: #FFF;
}
.intro__autor {
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  color: #FFF;
}
.intro__autor img {
  width: 60px;
  height: 50px;
  float: left;
  padding-right: 10px;
  border-radius: 10em;
}
.intro__autor span {
  display: inline-block;
}
.intro__autor-titulo {
  color: rgba(255, 255, 255, 0.5);
}
.articulo--principal {
  width: 660px;
  margin: 0 auto;
}
.articulo--principal__intro {
  font-size: 25px;
  line-height: 35px;
  color: #FFF;
}
.articulo--principal h2 {
  margin: 40px 0 40px 0;
  font-size: 50px;
  line-height: 60px;
  color: #FFF;
  text-align: center;
  color: #8841da;
}
.articulo--principal h3 {
  color: #8841da;
}
.contenedor--cajas {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
.caja {
  max-width: 430px;
  box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.5);
}
.caja__contenido {
  padding: 25px;
  background-color: #8841da;
  color: #FFF;
}
.caja span {
  color: #8841da;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.caja a {
  text-decoration: none;
  color: #012179;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
